<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting label="30001" type="text"   id="username" default=""/>
    <setting label="30002" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    <setting label="30003" type="action" action="RunScript(service.rating.musicbrainz,refreshAllRatings)" id="path" />
    <!-- TODO: add setting how often to perform a refresh -->
    <!-- not necessary, just update new ones after a library refresh and other only on explicit refresh -->
</settings>
